/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/nova
public/vendor/
public/vendor/
.php_cs.cache
*.db
public/assets/images/product/
_ide_helper.php
.php-cs-fixer.cache
